.header{
   color: #d54d7b  !important; 
   font-family: "Great Vibes", 
   cursive  !important; 
   line-height: 160px  !important; 
   font-weight: normal  !important; 
   text-shadow: 0 1px 1px #d54d7b  !important; 
}
